# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Node
node_modules/
npm-debug.log*

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
